@model Product

<div class="col">
    <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="250" src="@Model.img">

        <div class="card-body">
            <p><b>@Model.name</b></p>
            <p class="card-text text-muted">@Model.description</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a class="btn btn-primary my-2" asp-controller="Cart" asp-action="addToCart" asp-route-id="@Model.id">Add to cart</a>
                </div>
                <p>$@Model.price</p>
            </div>
        </div>
    </div>
</div>