
@using System.Globalization
@using System.Collections

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <h2>@Model.currCategory</h2><br />
           
@{
    foreach (Product prod in Model.AllProducts)
    {
        @Html.Partial("AllProducts", prod)
        }

    }
    </div>
</div>
</div>